name: Publish Module

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - shell: pwsh
        env:
          APIKEY: ${{ secrets.APIKEY }}
          TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          Install-Module Az.ResourceGraph -Force
          .\Module\build.ps1
          Publish-Module -Path .\Module\EnterprisePolicyAsCode -NuGetApiKey $env:APIKEY -Verbose
          
          
