# This is a comment.
# Each line is a file pattern followed by one or more owners.

# @andrewybarra will be the owner of all YAML files in the .github/workflows directory.
.github/workflows/*.yaml @andrewybarra
